*._d
*._o
*.[ao]
*.so
*.i
*.exe
*.obj
*.pc
*.pyc
*.lock
*.sdb
*.dylib
*.dll
.*.swp
.*.swo
*.un~
!r2pipe/dlang/*.d
r2pipe/swift/main
r2pipe/swift/Carthage
r2pipe/swift/Cartfile.resolved
r2pipe/ocaml/*.cxx
python/*.cxx
python/r_*.py
python/_*
r2pipe/rust/examples/main
r2pipe/rust/examples/quit
r2pipe/rust/target
r2pipe/vala/main
supported.langs
config.mk
r2pipe/.*
*node_modules*
ocaml/*.cxx
ocaml/r_*.ml*
r2pipe/dotnet/**/*.snk
config.log
*.dSYM
